/* Style untuk body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #4CAF50;
  }
  
  /* Style untuk judul */
  h1 {
    text-align: center;
    font-size: 36px;
    margin-top: 0;
    color: #333;
  }
  
  /* Style untuk paragraf */
  p {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
  }
  
  /* Style untuk tabel */
  table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    background-color: #fff;
  }
  
  /* Style untuk header tabel */
  th {
    background-color: #f2f2f2;
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  /* Style untuk sel tabel */
  td {
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  /* Style untuk gambar */
  img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
  }
  
  /* Style untuk tombol download */
  .download-button {
    display: block;
    width: 200px;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Style untuk hover pada tombol download */
  .download-button:hover {
    background-color: #0056b3;
  }
  